@font-face {
	font-family: 'Futura PT';
	src: url("../fonts/futura-book/FuturaPTBook.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url("../fonts/futura-book/FuturaPTBookOblique.otf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url("../fonts/futura-book/FuturaPTMedium.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url("../fonts/futura-book/FuturaPTMediumOblique.otf");
	font-weight: 500;
	font-style: italic;
}